@media (max-width: 800px) {
    .container::before{
        display: none;
    }

    .text {
        position: initial;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }   
    .text h1{
        margin: 2rem;
        text-align: center;
    }

    .faq-list{
        padding: 2rem;
    }
}

@media (max-width: 425px){
    .container, .faq-answer{
       width: 80%;
    }
} 